<h1> Search for your favourite Spots!</h1>

<div class="top-flex">
  <button><a href="/logout">LOGOUT</a></button>
  <p class="small-text"><a href="/users/edit">change your details</a></p>
</div>


<%= form_tag "/result", method: :post do %>

  <%= label_tag %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>

  <% end %>
